body {
    color: black;
    background-color: black;
}

div {
    background-color: #3A3939;
    color: black;
    display: inline-block;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    width: auto;
}

button {
    background-color: #3A3939;
    color: black;
    cursor: pointer;
    padding-bottom: 1;
}

textarea {
    background-color: white;
    color: black;
    height: auto;
    width : auto;
    columns: auto;
    white-space: nowrap;
    resize: none;
    overflow: hidden;
}